body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 10px 10px 10px rgba(84, 67, 67, 0.9);
    border-radius: 5px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.add-task input[type="text"],
.add-task input[type="date"],
.add-task button {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-task button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-task button:hover {
    background-color: #0056b3;
}

.task-list h2 {
    margin-top: 20px;
}

.task {
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}